---
rdf_prefix_path: "prefix.sparql"
---

Hallo {{ page.rdf }}


<h2>Author:</h2>

<ul>
{% assign publications = page.rdf | rdf_property: "dblps:authorOf", nil, true %}

{% for publication in publications %}
  {% if publication %}
    <li><a href="{{ publication.page_url | prepend: site.baseurl }}">{{ publication }}</a>
	    ({{ publication | rdf_property: "dblps:title"}})
    </li>
  {% else %}
    <li>{{ publication }}</li>
  {% endif %}
{% endfor %}
	
</ul>

{% assign results = page.rdf | sparql_query: "select ?p ?o where {?resourceUri ?p ?o} order by ?p" %}
<ul>

{% for row in results %}
<li> {{ row.p }}: {{ row.o }} </li>
{% endfor %}
</ul>
